.header{display: flex;
justify-content: center;
font-size: 30px;
}
.videoPlay{
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 20px;
}
.subscribe{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}
.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
  }